{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "besu.fullname" . }}-ingress
  labels:
    {{- include "besu.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /rpc
        pathType: Prefix
        backend:
          service:
            name: {{ include "besu.fullname" . }}-rpc
            port:
              number: {{ .Values.service.rpc.port }}
      - path: /ws
        pathType: Prefix
        backend:
          service:
            name: {{ include "besu.fullname" . }}-ws
            port:
              number: {{ .Values.service.ws.port }}
{{- end }} 